In [2]:
from selenium import webdriver
from time import sleep

driver = webdriver.Chrome('ChromeDriver/chromedriver')
driver.set_page_load_timeout(2)

try:
    driver.get("https://jewelry.ha.com/c/search-results.zx?N=776+790+231+2040&Ne=2014&erpp=204")
except:
    print("time out")

time out

In [3]:
Condition = True
URL_Links = []

while Condition:
    sleep(5)
    search_result = driver.find_elements_by_class_name('item-title')
    search_result = [link.get_attribute('href') for link in search_result]
    URL_Links.append(search_result)
    try:
        driver.find_element_by_xpath('//*[@id="tabs-1"]/div[3]/a[12]').click()
    except:
        Condition = False

In [6]:
URL_Link = []
for links in URL_Links:
    for link in search_result:
        URL_Link.append(link)
print(len(URL_Link))

205

In [11]:
import pandas as pd
diamond_ring_data_2 = pd.DataFrame()
Ring = {}

for link in url:
    try:
        driver.get(link)
        sleep(3)
    except:
        print('TIME OUT')

    sleep(5)
    try:
        ring_price = driver.find_element_by_xpath('//*[@id="page-content"]/div/div[5]/div[1]/div[3]/div/div/small[2]').text
    except:
        ring_price = None
    try:
        description = driver.find_element_by_xpath('//*[@id="auction-description"]/span').text
    except:
        description = None
    try:
        condition_report = driver.find_element_by_xpath('//*[@id="condition-report"]').text
    except:
        condition_report = None

    ring = {
        'Ring Price'= ring_price,
        'Description'= description,
        'Condition Report' = condition_report
    }

    diamond_ring_data_2.append(ring)
    diamond_ring_data_2.to_csv('diamond_ring_data_2.csv')

TIME OUT

In [1]:
import pandas as pd
import re

data_frame = pd.read_csv('..\Diamond_Rings_data\daimond_ring_data.csv')

In [13]:
pf = pd.DataFrame(data_frame)
pf.head()

,Unnamed: 0,Condition Report,Description,Sold Price
0,0,Condition Report*:\nDiamonds:\nAvg Color: G-H-...,"Diamond, Platinum Ring\nThe ring features a ma...","SOLD ON OCT 5, 2020 FOR: $40,000.00"
1,1,Condition Report*:\nDiamonds:\nAvg Color: G-H-...,"Diamond, White Gold Ring\nThe ring features a ...","SOLD ON DEC 8, 2019 FOR: $40,000.00"
2,2,Condition Report*:\nDiamonds:\nAvg Color: M+\n...,"Diamond, Platinum, White Gold Ring, French\nTh...","SOLD ON JUN 26, 2017 FOR: $40,000.00"
3,3,Condition Report*:\nDiamonds:\nAvg Color: M+\n...,"Diamond, Platinum Ring\nThe ring features a Eu...","SOLD ON APR 3, 2017 FOR: $40,000.00"
4,4,Condition Report*:\nDiamond Average Color: G-H...,"Fancy Light Yellow Diamond, Diamond, Gold Ring...","SOLD ON APR 19, 2016 FOR: $40,000.00"

In [15]:
m = pf['Condition Report']
m.head()

0    Condition Report*:\nDiamonds:\nAvg Color: G-H-...
1    Condition Report*:\nDiamonds:\nAvg Color: G-H-...
2    Condition Report*:\nDiamonds:\nAvg Color: M+\n...
3    Condition Report*:\nDiamonds:\nAvg Color: M+\n...
4    Condition Report*:\nDiamond Average Color: G-H...
Name: Condition Report, dtype: object

In [16]:
m = m.str.split('\n')

In [315]:

def get_diamond_count(x):
    for item in x:
        if 'Gem' not in item:
            if 'Count' in item and ':' in item and '-'in item:
                mask = item.split('-')[1]
                return int(mask)
            elif 'Count' in item and '-' in item:
                return int(item.split('-')[1])
            elif 'Count' in item and ':' in item and '+' in item:
                mask = item.split(':')[1]
                mask = mask.split('+')[0]
                return int(mask)
            elif 'Count' in item and '+' in item:
                mask = item.split('Count')[1]
                mask = mask.split('+')[0]
                return int(mask)
            else:
                pass
        else:
            pass

In [316]:
diamond_count = m.apply(get_diamond_count)

In [7]:
# pd.set_option('display.max_rows', None)

In [317]:

diamond_count.head()

0    25.0
1    50.0
2    25.0
3    25.0
4    25.0
Name: Condition Report, dtype: float64

In [118]:
m1 = pf['Sold Price']
m1.head()

0     SOLD ON OCT 5, 2020 FOR: $40,000.00
1     SOLD ON DEC 8, 2019 FOR: $40,000.00
2    SOLD ON JUN 26, 2017 FOR: $40,000.00
3     SOLD ON APR 3, 2017 FOR: $40,000.00
4    SOLD ON APR 19, 2016 FOR: $40,000.00
Name: Sold Price, dtype: object

In [26]:
def clean_price(x):
    for item in x:
        mask = x.split('$')[1]
        mask = mask.replace(',', '')
        mask = mask.replace('.', '')
        return float(mask)

In [298]:
diamond_ring_price = m1.apply(clean_price)
diamond_ring_price.head()

0    4000000.0
1    4000000.0
2    4000000.0
3    4000000.0
4    4000000.0
Name: Sold Price, dtype: float64

In [281]:
m2= pf['Description']
m2.head()

0    Diamond, Platinum Ring\nThe ring features a ma...
1    Diamond, White Gold Ring\nThe ring features a ...
2    Diamond, Platinum, White Gold Ring, French\nTh...
3    Diamond, Platinum Ring\nThe ring features a Eu...
4    Fancy Light Yellow Diamond, Diamond, Gold Ring...
Name: Description, dtype: object

In [282]:
m2 = m2.str.split('\n')

In [151]:
def get_gross_weight(x):
    for item in x:
        if 'Gross weight' in item:
            mask = item.split('Gross weight')[1]
            mask = mask.split('grams')[0]
            if 'is' in mask:
                return float(mask.split('is')[1])
            else:
                return float(mask)
        else:
            pass

In [286]:
def get_size(x):
    for item in x:
        if 'Size:' in item and '(sizeable)' in item :
            mask = item.split('Size:')[1]
            mask = mask.split('(sizeable)')[0]
            if '-' in mask:
                mask = mask.split('-')[0]
                return mask
            elif '(sizeable)' in mask:
                mask =  mask.split('(sizeable)')[0]
                return mask
            elif 's:' in mask:
                mask = mask.split('s')[1]
                return mask
            else:
                pass
            return mask
        elif 'Size' in item and '(sizeable)' in item:
            mask = item.split('Size')[1]
            mask.split('(sizeable)')[0]
            if '-' in mask:
                mask = mask.split('-')[0]
                return mask
            elif '(sizeable)' in mask:
                mask =  mask.split('(sizeable)')[0]
                return mask
            elif 's:' in mask:
                mask = mask.split('s')[1]
                return mask
            else:
                pass
            return mask
        if 'Size :' in item and '(sizeable)' in item:
            mask = item.split('Size :')[1]
            mask = mask.split('(sizeable)')[0]
            if '-' in mask:
                mask = mask.split('-')[0]
                return mask
            elif '(sizeable)' in mask:
                mask =  mask.split('(sizeable)')[0]
                return mask
            elif 's:' in mask:
                mask = mask.split('s')[1]
                return mask
            else:
                pass
            return mask
        else:
            pass

In [299]:
ring_gross_weight = m2.apply(get_gross_weight)
ring_gross_weight.head()

0    5.10
1    6.90
2    4.47
3    5.51
4    5.90
Name: Description, dtype: float64

In [300]:
ring_size = m2.apply(get_size)

In [301]:
ring_size = pd.to_numeric(size, errors='coerce')
ring_size.head()

0    6.0
1    6.0
2    4.0
3    6.0
4    6.0
Name: Description, dtype: float64

In [255]:
m3 = pf['Description']

In [256]:
m3 = m3.str.split(',')

0    [Diamond,  Platinum Ring\nThe ring features a ...
1    [Diamond,  White Gold Ring\nThe ring features ...
2    [Diamond,  Platinum,  White Gold Ring,  French...
3    [Diamond,  Platinum Ring\nThe ring features a ...
4    [Fancy Light Yellow Diamond,  Diamond,  Gold R...
Name: Description, dtype: object

In [259]:
def get_carats(x):
    for item in x:
        if 'measuring' in item and 'carats' in item:
            mask = item.split('measuring')[1]
            mask = mask.split('carats')[0]
            if 'approximately' in mask:
                mask = mask.split('approximately')[1]
                return mask
            elif 'weighing' in mask:
                mask = mask.split('weighing')[1]
                return mask
            elif 'weighs' in mask:
                mask = mask.split('weighs')[1]
                return mask
            else:
                pass
            return mask
        elif 'measuring' in item and 'carat' in item:
            mask = item.split('measuring')[1]
            mask = mask.split('carat')[0]
            if 'approximately' in mask:
                mask = mask.split('approximately')[1]
                return mask
            # else:
            #     # pass
            elif 'weighing' in mask:
                mask = mask.split('weighing')[1]
                return mask
            else:
                pass
            return mask
        else:
            pass

In [302]:
diamond_carats = m3.apply(get_carats)

In [303]:
diamond_carats =pd.to_numeric(carats, errors='coerce')
diamond_carats.head()

0    3.45
1    5.01
2    6.40
3    7.15
4    5.04
Name: Description, dtype: float64

In [320]:
processed_diamond_ring_data = pd.DataFrame(columns=['Ring Price', 'Ring Gross Weight', 'Ring Size', 'Diamond Weight/Carats', 'Diamond Count' ])

In [321]:
processed_diamond_ring_data ['Ring Price']= diamond_ring_price
processed_diamond_ring_data ['Ring Gross Weight']= ring_gross_weight
processed_diamond_ring_data ['Ring Size'] = ring_size
processed_diamond_ring_data ['Diamond Weight/Carats'] = diamond_carats
processed_diamond_ring_data ['Diamond Count'] = diamond_count
processed_diamond_ring_data.head()

,Ring Price,Ring Gross Weight,Ring Size,Diamond Weight/Carats,Diamond Count
0,4000000.0,5.10,6.0,3.45,25.0
1,4000000.0,6.90,6.0,5.01,50.0
2,4000000.0,4.47,4.0,6.40,25.0
3,4000000.0,5.51,6.0,7.15,25.0
4,4000000.0,5.90,6.0,5.04,25.0

In [322]:
processed_diamond_ring_data.to_csv('processed_diamond_ring_data.csv')